scripts/
*.bak
*.pyc
__pycache__/
venv/
*.egg-info/
*.docx
*.doc
user_audio/
# Ignore all files in tools/ except __init__.py and db_utils.py
tools/*
!tools/__init__.py
!tools/db_utils.py
# Same for utils/
utils/*
!utils/__init__.py
!utils/scoring.py
!utils/transcriber.py
*.code-workspace